*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    padding: 0;
    margin: 0;
}
nav{
    background-color: rgb(10, 29, 60);
    border-bottom: 2px solid white;
    box-shadow: 0px 0px 5px 10px rgb(10, 29, 60, 0.5);
}
ul li a{
    text-decoration: none;
    color: white !important;
}
ul li a:hover{
    border: white solid 2px;
    border-radius: 5px;
    padding: 5px;
}
.shadow-lg{
   background-color: rgb(10, 29, 60);
}
.card-body{
    background-color: rgb(10, 29, 60);
    color: white;
}

.col:hover{
    transform: scale(1.01);
    transition: all 0.5s ease-in-out;
    box-shadow:  0px 0px 5px 10px rgb(10, 29, 60, 0.5);
    cursor: pointer;
} 
form{
    background-color: rgb(10, 29, 60) !important;
}
footer{
    background-color: rgb(10, 29, 60);
    color: white;
}